/* -- COLORS -- */
$color-title: #0096b8;
$color-primary: #02404e;
$color-error: #b30808;
$color-white: #ffffff;
$color-black: #000000;

/* -- FONTS -- */
$font-family-title: 'Nothing You Could Do', cursive;
$font-family-main: 'Forum', cursive;

$font-size-title: 5rem;
$font-size-description: 2rem;
$font-size-error: 1.8rem;


/* -- OTHER -- */
$border-big-radius: 20px;
$border-small-radius: 10px;