@import 'variables';
@import 'mixins';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;                  // 1 rem = 10px;  10px/16px = 62.5%

    @include respond(tab-land) {       // width < 1200?
        font-size: 56.25%;             // 1 rem = 9px;   9/16 = 50%
    }

    @include respond(tab-port) {       // width < 900?
        font-size: 50%;                // 1 rem = 8px;   8/16 = 50%
    }
    
    @include respond(big-desktop) {
        font-size: 75%;                // 1rem = 12;     12/16
    }
}

.photo-gallery {
    width: 98%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    .main-title {
        font-size: $font-size-title;
        font-family: $font-family-title;
        color: $color-title;
        transition: all .5s;

        &:hover {
            transform: scale(1.1);
            color: rgba($color-title, .5);
        }
    }

    .main-desc {
        font-size: $font-size-description;
        font-family: $font-family-main;
        color: $color-black;
        text-align: center;
        padding: 0 25rem;
    }

    /* Container */
    .container {
        border-radius: $border-big-radius;
        padding: 2rem;
        margin-bottom: 2rem;

        
        &.form {
            form {
                padding: 2rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .form-control {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 10px;

                    label {
                        font-size: $font-size-description;
                        color:$color-black;
                    }
                    input {
                        padding: 5px;
                        width:280px;
                    }
                }
            }
        }

        &.gallery {
            
             
        }
    }

    /* Button */
    .btn {
        padding: 10px 25px;
        color: $color-white;
        font-size: $font-size-error;
        border-radius: $border-small-radius;
        background-color: $color-primary;
        border: 1px solid $color-primary;
        transition: all .5s;

        &:hover {
            border: 1px solid $color-title;
            background-color: $color-title;
        }

        .close-form {
            position: relative;
        }
    }
}
/* Errors Backdrop and Modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
}

.error-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 25%;
    z-index: 100;
    overflow: hidden;
    transform: translate(-50%,-50%);
    border: 1px solid $color-primary;

    header {
        background: $color-primary;
        padding: 1rem;

        h2 {
            margin: 0;
            color: white;
        }
    }

    .content {
        padding: 1rem;
    }

    .actions {
        padding: 1rem;
        display: flex;
        justify-content: flex-end;
    }
}
